:root {
  --color-1: #6ea3c3;
  --color-2: #82b2c7;
  --color-3: #cfa577;
  --color-4: #9fb8b2;
  --color-5: #beb7a2;
  --color-6: #001b2e;
  --color-7: #294c60;
  --color-8: #05204a;
  --color-9: #1d263b;
  --color-10: #223843;
  --color-white: #ffffff;
  --color-black: #000000;
}

#home {
  background-image: url("https://images.pexels.com/photos/123335/pexels-photo-123335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

#home-conteudo {
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-family: sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 0.188rem var(--color-7);
  cursor: default;
  color: transparent;
  border-bottom: 0.313rem solid rgba(255, 255, 255, 0.6);
  text-shadow: 0 0 1rem var(--color-white);
  margin-bottom: 1rem;
}

#home-slogan {
  font-size: 2rem;
  text-shadow: 2px 0px 2px var(--color-white);
  color: var(--color-7);
}

/* #home img {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  border: 1.5px solid #44cfcb;
  box-shadow: 0 0 4px white;
} */
